.table-group(data-sort-table='{"listIG": [{"titleName": "test1","link": {"url": "123","title": "test1","text": "test1"},"titleDate": "test1","date": "12/1/2000"},{"titleName": "test2","link": {"url": "456","title": "test2","text": "test2"},"titleDate": "test2","date": "12/1/1000"}]}')
  .table-responsive.visible-md-up: +table(
    [
      {link: {title: 'Nom de l’indication géographique', href:'javascript:void(0)'}},
      {link: {title: 'N° d’homologation', href:'javascript:void(0)'}}
    ],
    []
  ).table.table-layout-fixed

  include table-mobile
