.ig-table
  p.hint-text Cherchez des indications géographiques en saisissant par exemple un nom d'indication, un nom de département ou de commune, un code postal, un numéro de demande ou d'homologation.
  include tool-box
  .table-responsive.visible-md-up: +table(
    [
      {link: {title: 'Nom de l’indication géographique', href:'javascript:void(0)'}},
      {link: {title: 'N° d’homologation', href:'javascript:void(0)'}},
      {link: {title: 'Date de dépôt', href:'javascript:void(0)'}},
      {link: {title: 'Date de dépôt', href:'javascript:void(0)'}}
    ],
    [
      ['<a href="#" title="géographique3" class="title grey">géographique3</a>', '13/05/2014', 'IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></i></span>'],
      ['<a href="#" title="géographique3" class="title">géographique3</a>', '13/05/2014', 'IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></i></span>'],
      ['<a href="#" title="géographique3" class="title">géographique3</a>', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></i></span>'],
      ['<a href="#" title="géographique3" class="title">géographique3</a>', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></i></span>'],
      ['<a href="#" title="géographique3" class="title">géographique3</a>', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></i></span>']
    ]
  ).table.table-layout-fixed
  include table-mobile
  include tool-box-bottom
